main#main-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85vh;
    box-sizing: border-box;
}

main#main-form h1 {
    font-size: 3.8rem;
    font-weight: 700;
    color: #1D3557;
    align-self: center;
    padding: 0;
    margin: 0 0 5% 0;
}

form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

form aside {
    user-select: none;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    width: 12%;
    height: 10%;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    background-color: #457B9D;
    color: white;
}

form textarea {
    height: 80%;
    margin-bottom: 2%;
    padding: 1% 2%;
    box-sizing: border-box;
}

form button {
    background: #457B9D;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 13%;
    height: 10%;
    align-self: flex-end;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}
